

body, html {
			background-image: url("../img/2.gif");

  height: 100%;
}
body {
	font-size:18px;
	color:#FFF;
}
h1 {
  font-size:2em;
  text-align:center;
  margin:20px 0 40px;
  padding:0;
}
.contain {
	
	width:80%;
	margin:0 auto;
	overflow:auto;
	padding:0.5%;
}
.right-content, .left-content {
	float:left;
	display:block;
	width:40%;
}
.left-content {
	border-right:5px dotted #666;	
	text-align:right;
}
.left-content p {
	margin: 0 0;
}
.right-content p {
	margin: 0 ;
}
.container p {
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7 ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;	
}
.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}

